.background-icon, .css-dev-only-do-not-override-1ck3jst {
    background: #4c94be;
    color:  #fff;
}

.background-icon:hover{
    opacity: 0.8;
    cursor: pointer;
}

.background-nav{
    background: #0067a3;
}



